<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="TryHTML.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup>
    <userSettings>
        <TryHTML.My.MySettings>
            <setting name="drk_theme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="wth_theme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="custo_theme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Custo_color" serializeAs="String">
                <value />
            </setting>
            <setting name="Last_Save_Path" serializeAs="String">
                <value />
            </setting>
            <setting name="LastText" serializeAs="String">
                <value />
            </setting>
            <setting name="txtbox_Showlinenumber" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtbox_linenmbrcol" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="txtbox_forecolor" serializeAs="String">
                <value>45, 45, 48</value>
            </setting>
            <setting name="txtbox_bkcolor" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="txtbox_bokmarkcol" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="txtbox_selcol" serializeAs="String">
                <value>60, 0, 0, 255</value>
            </setting>
            <setting name="txtbox_servlcol" serializeAs="String">
                <value>Silver</value>
            </setting>
            <setting name="txtbox_showscrlbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="txtbox_showfldgnline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="m" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CurrentLineC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="txtbox_lang" serializeAs="String">
                <value>HTML</value>
            </setting>
            <setting name="txtbox_brodr" serializeAs="String">
                <value>None</value>
            </setting>
            <setting name="Frm_Lock" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Frm_LokePass" serializeAs="String">
                <value />
            </setting>
            <setting name="Frm_hidWhenClosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideWhenmini" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Frm_Starthiden" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frm_startup" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frm_savewhenclosed" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="frm_Opacity" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="Frm_Topmost" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="darkthem" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="WhitTheme" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="teststr" serializeAs="String">
                <value />
            </setting>
            <setting name="txtbox_paddingback" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="Opacty" serializeAs="String">
                <value>0</value>
            </setting>
        </TryHTML.My.MySettings>
    </userSettings>
</configuration>
